torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
requests
accelerate
transformers
diffusers @ git+https://github.com/huggingface/diffusers@1d9a6a81b9a00b2dfab992ba75eb55bf8afb4eae
Django